<!DOCTYPE html>
<html>
<%- include('../partials/head_payment') %>
<body>
    <div>
        <%- include('../partials/header_payment') %>
        <div class="kth-main-content" style="flex:2;padding-right:10px">
            <div class="card" style="margin-bottom:10px">
                <form style="flex:2;display:flex;justify-content:flex-end">
                    <button style="margin:10px" type="button"
                        onclick="location.href= '/almatools/payment?jwt=<%=almapaymentdata.jwt%>&lang=<%=almapaymentdata.language%>'"
                        class="btn btn-primary">
                        <%=config.translations.back_to_fees%>
                    </button>
                </form>
                <% if(typeof almapaymentdata !== 'undefined' && almapaymentdata.status=="success" ) { %>
                    <% if(almapaymentdata.totalamount> 0) { %>
                        <div class="card-body" style="display:flex;flex-direction:row;padding-bottom:40px">
                            <div style="flex:2">
                                <div class="paymentinfo">
                                    <div style="flex:1">
                                        <%=config.translations.username%>
                                    </div>
                                    <div style="flex:1">
                                        <%=almapaymentdata.decodedtoken.userName%>
                                    </div>
                                </div>
                                <div class="paymentinfo">
                                    <div style="flex:1">
                                        <%=config.translations.fullname%>
                                    </div>
                                    <div style="flex:1">
                                        <%=almapaymentdata.decodedtoken.displayName%>
                                    </div>
                                </div>
                                <div id="almafines" class="paymentinfo">
                                    <div style="flex:1;font-weight: bold;">
                                        <%=config.translations.to_pay%>
                                    </div>
                                    <div style="flex:1">
                                        <%=almapaymentdata.totalamount%> SEK
                                    </div>
                                </div>
                                <p><%=config.translations.moms_text%></p>
                                <div id="checkout-container-div">
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <div style="padding-bottom: 10px">
                                <%=config.translations.no_fees_to_pay%>
                            </div>
                            <% } %>
                                <% } else { %>
                                    <div class="card-body">
                                        <div class="paymentinfo">
                                            <div style="flex:1">
                                                <%=almapaymentdata.message%>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
            </div>
            <footer id="articleFooter">
                <div class="articleFooterDivider"></div>
                <h2><%=config.translations.contact_us%></h2>
                <p>
                    <%=config.translations.phone%> 08-790 70 88
                    <br>
                    <%=config.translations.email%> <a href="mailto:biblioteket@kth.se">biblioteket@kth.se</a>
                    <br>
                    <%=config.translations.orgnr%> 202100-3054
                </p>
                <div class="col">
                    <div class="contactInfo">
                        <span class="label"></span><a target="_new" href="<%=almapaymentdata.tocurl%>"><%=config.translations.conditions%></a>
                    </div>
                    <div class="contactInfo">
                        <span class="label"></span><a target="_new" href="<%=almapaymentdata.gdprurl%>"><%=config.translations.gdpr_text%></a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="<%=almapaymentdata.nets.checkouturl%>"></script>
    <% if(almapaymentdata.totalamount> 0 ) { %>
        <script>
            const checkpaymentUrl = '<%= config.checkpaymentUrl %>';
            document.addEventListener('DOMContentLoaded', function () {
                const urlParams = new URLSearchParams(window.location.search);
                const paymentId = urlParams.get('paymentId');
                if (paymentId) {
                    const checkoutOptions = {
                        checkoutKey: '<%=almapaymentdata.nets.checkoutkey%>',
                        paymentId: paymentId,
                        containerId: "checkout-container-div",
                        language: "sv-SE",
                        theme: {
                            buttonRadius: "5px"
                        }
                    };
                    const checkout = new Dibs.Checkout(checkoutOptions);
                    checkout.on('payment-completed', function (response) {
                        //Skrolla upp till toppen av sidan när betalningen är klar
                        window.scrollTo(0, 0);
                        $("#almafines").html(`<div class="alert alert-warning" role="alert">
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Kollar dina avgifter...
                                            </div>`);
                        //Skulden i Alma uppdateras via webhook
                        //Kolla om skulden i Alma är uppdaterad
                        //Visa info om betalning och eventuellt återstående skulder
                        setTimeout(function () {
                            checkpayment(paymentId)
                        }, 3000);

                    });
                } else {
                    $("#almafines").html(`<div class="alert alert-warning" role="alert">
                        Betalnings-ID saknas. Vänligen försök igen från startsidan.
                    </div>`);
                }
            });

            function checkpayment(paymentId) {
                $.ajax({
                    url: checkpaymentUrl + paymentId,
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        if (data.finished == 0) {
                            setTimeout(() => checkpayment(paymentId), 2000);
                        } else {
                            //Visa resultat från reglering i Alma
                            $("#almafines").html(`<div class="alert alert-success" role="alert">
                                                    Skulden reglerad i bibliotekssystemet
                                                </div>`)
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        $("#almafines").html(`<div class="alert alert-danger" role="alert">
                            Ett fel uppstod vid kontroll av betalningen. Försök igen senare.
                        </div>`);
                    }
                });
            }

        </script>
        <% } %>
</body>

</html>