<!DOCTYPE html>
<html>
<%- include('../partials/head') %>
<body>
    <div>
        <%- include('../partials/header') %>
        <section>
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <i class="bi bi-person-circle" style="font-size: 150px; color: #007bff;"></i>
                                <h5 class="my-3">
                                    <%= user.unique_name[0] %>
                                </h5>
                                <p class="text-muted mb-1">Title</p>
                                <p class="text-muted mb-4">Campus valhallavägen</p>
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= user.unique_name[0] %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= user.email %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Username</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= user.username %>
                                        </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">KTH-id</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">
                                            <%= user.kthid %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body">
                                        <p class="mb-4"><span class="text-primary font-italic me-1">Affiliation</span>
                                            List
                                        </p>
                                        <ul class="list-group list-group-flush rounded-3">
                                            <% user.affiliation.forEach(function(affiliation) { %>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                    <%= affiliation %>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body">
                                        <p class="mb-4"><span class="text-primary font-italic me-1">Roles</span> List
                                        </p>
                                        <ul class="list-group list-group-flush rounded-3">
                                            <% user.memberOf.forEach(function(member) { %>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center p-3">
                                                    <%= member %>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            const thisSessionId = Math.random().toString(36).substr(2, 9);
            const socket = io('', { path: "/almatools/socket.io" })
            socket.on("connect", () => {

            });
            socket.emit('connectInit', thisSessionId);
        </script>
    </div>
</body>

</html>